.container-fluid.container1{
    background-color: rgb(0, 85, 141); 
    height: 23px;
    width: 100%;
}

.container2{
    height: 80px;
    width: 100%;
    background-image: linear-gradient( 111.4deg,  rgb(230, 230, 230) 1.5%, rgba(130, 130, 131, 0.664) 93.2% );  
}

.logo{
margin-top: 5px;
}

.anchor{
   padding: 30px;
    width: 100%;
}

.hom{
    padding: 15px;
    color: rgb(0, 0, 0);
    font-style: bold;
    font-size: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hom:hover{
    color:rgb(38, 0, 255);
    padding: 20px;
    font-size: 120%;
    text-decoration: none
}
.regfrm{
    height: 20px;
    width: 50%;
    border-radius: 10px;
    border: 1px solid rgb(131, 131, 131);
    background-color: rgb(81, 131, 165); 
    margin-left: 700px;
    margin-top: -20px;
    text-align: center;
}
.ho{
    text-align: center;
    padding-left: 6px;
    color: rgb(255, 253, 253);
    font-style: bold;
    font-size: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

.ho:hover{
    color:blue;
    padding: 20px;
    font-size: 125%;
    text-decoration: none
}
.container3{
    background-color:rgb(0, 66, 141);
    height: 400px;
    width: 100%;
    margin-top: 20px;
}

.sch{
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 60px;
    line-height: 1.25rem;
     padding-top: 120px;
     padding-left: 20px;
}

.from{
    padding-left: 20px;
    color: white;
    font-weight: bold;
    padding-top: 10px;
}

.shop{
    padding-left: 20px;
    color: white;
    padding-top: 2px;

}
.sidimg{
    width: 110%;
    height: 400px;

}
.container7{
    background: 50% 25% no-repeat rgb(3, 28, 75);
    color: white;
    height: 1000px;
    width: 100%;
   margin-top: 100px;
    padding-top: 100px;
    position: relative;
}

.container6{
    margin-top: 100px;
}


@media (max-width: 575.98px) {
    .navbar-collapse {
        position: relative;
        z-index: 2;
        background-color: white;
    }
}

@media (max-width: 768px) {
    .navbar-collapse {
        position: relative;
        z-index: 2;
        background-color: white;
    }
}


.container1 img{
    margin-top: 8px;
    border-radius: 10px;
}

.navbar-nav{
    padding: 8px 0px;
}

/* .a1uniformstext{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: larger;
    margin-top: 15px;
} */

.homepagelink{
    color: grey;
    text-decoration: none;
    
}

.link1{
    color: rgb(193, 189, 189);
    text-decoration: none;
    border: none;
    margin-top: -7  px;
    transition: 0.5s ease-in-out;
}

@media (max-width: 575.98px) {
    .link1 {
        color: black;
    }
}

@media (max-width: 768px) {
    .link1 {
        color: black;
    }
}

.link1:hover{
    color: white;
    text-decoration: none;
    border: none;
    border-bottom: 2px solid white;
    transition: 0.5s ease-in-out;
}

.Productspagelink{
    color: grey;
    text-decoration: none;
}

.link2{
    color: white;
    text-decoration: none;
    transition: 0.5s ease-in-out;
    padding: 0px 10px;
    border: none;
    border-bottom: 2px solid white;
}

@media (max-width: 575.98px) {
    .link2 {
        color: black;
        margin-left: -10px;
    }
}

@media (max-width: 768px) {
    .link2 {
        color: black;
        margin-left: -10px;
    }
}

.link2:hover{
    color: white;
    text-decoration: none;
    border: none;
    border-bottom: 2px solid white;
    transition: 0.3s ease-in-out;
}


.contactuspagelink{
    color: grey;
    text-decoration: none;
}

.link3{
    color: rgb(193, 189, 189);
    text-decoration: none;
    transition: 0.5s ease-in-out;
}

@media (max-width: 575.98px) {
    .link3 {
        color: black;
    }
}

@media (max-width: 768px) {
    .link3 {
        color: black;
    }
}
.dropdown{
    margin-top: 50px;
    margin-left: 100px;
}

button.dropdown-toggle{
   background-color: rgb(29, 70, 194);
}

button.dropdown-toggle:hover{
    background-color: grey;
    transition: 0.5s ease-in-out;
 }

.container2part2{
    background-color: white;
    height: 20px;
}

.container3part2{
    background-color: white;
    height: 100px;
}

.Productstext{
    color: rgb(29, 70, 194);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding: 40px 0px;
    animation:  FadeIn 1.5s ;
}

@keyframes FadeIn {
    0% {
    opacity: 0;
    }
    100%{
    opacity: 1;
    }
    
    }

.link3:hover{
    color: white;
    text-decoration: none;
    border: none;
    border-bottom: 2px solid white;
    transition: 0.3s ease-in-out;
}

.t1{
    width: 200px;
   margin-top:10px; 
   height: 300px;
  
}

.hom2{
   margin-top: 100px;
    padding-top: 10px;
     border:1px solid black;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    font-style: bold;
    font-size: 120%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
}

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.contac{
    margin-top: 100px;
   margin-left: 120px;
   font-size: 30px;
   font-weight: bolder;

}

.mp{
    
    margin-left: 120px;
    font-size: 30px;
    width: 100%;
    
 
}
.mpp{
    margin-left: 120px;
    font-size: 20px;
    width: 100%;
}

.map{
    margin-top: 100px;
    margin-left:30px;
}

.container25part2{
    background-color: rgb(32, 32, 81);
    height: 500px;
    clear: both;
}

@media (max-width: 575.98px) {
    .container25part2 {
       height: 1300px;
    }
}

.connectwithustext{
    color: white;
    font-weight: bold;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
   padding: 40px 0px;
}

.facebookicon1 i{
    color: grey;
    font-size: 30px;
}

.facebookicon1 i:hover{
    color: white;
    font-size: 25px;
    transition: 0.5s ease-in-out;
}

p.facebookicon1{
    margin-top: -40px;
}

.instagramicon1 i{
    color: grey;
    font-size: 25px;
}

.instagramicon1 i:hover{
    color: white;
    font-size: 20px;
    transition: 0.5s ease-in-out;
}

p.instagramicon1{
    margin-top: -45px;
    margin-left: 40px;
}

.twittericon1 i{
    color: grey;
    font-size: 25px;
}

.twittericon1 i:hover{
    color: white;
    font-size: 20px;
    transition: 0.5s ease-in-out;
}

p.twittericon1{
    margin-top: -43px;
    margin-left: 80px;
}

.linkedinicon1 i{
    color: grey;
    font-size: 25px;
}

.linkedinicon1 i:hover{
    color: white;
    font-size: 20px;
    transition: 0.5s ease-in-out;
}

p.linkedinicon1{
    margin-top: -43px;
    margin-left: 120px;
}

.headofficetext{
    color: white;
    font-weight: bold;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
   padding: 40px 0px;
}

.oyoibadanroadtext{
    color: white;
    margin-top: -40px;
}

.companytext{
    color: white;
    font-weight: bold;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
   padding: 40px 0px;
}

.linksundercompanytext{
    color: white;
    margin-top: -45px;
    padding: 5px 0px;
}

.linksundercompanytext a{
    color: white;
    margin-top: -40px;
}

.linksundercompanytext a:hover{
   text-decoration: none;
   color: grey;
   transition: 0.5s ease-in-out;
}

.linksunderourproductstext{
    color: white;
    margin-top: -45px;
    padding: 5px 0px;
}

.ourproductstext{
    color: white;
    font-weight: bold;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
   padding: 40px 0px;
}

.linksunderourproductstext a{
    color: white;
    margin-top: -45px;
    padding: 5px 0px;
}

.linksunderourproductstext a:hover{
    text-decoration: none;
    color: grey;
    transition: 0.5s ease-in-out;
}


.linksunderresourcestext{
    color: white;
    margin-top: -45px;
    padding: 5px 0px;
}

p.Variousoutletstext{
    color: white;
    font-weight: bold;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
   padding: 40px 0px;
}

.branchesundervariousoutletstext{
    color: white;
    margin-top: -45px;
    padding: 5px 0px;









}

 
