 
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
animation: FadeIn 1.5s;
}
@keyframes FadeIn {
0% {
opacity: 0;
}
100%{
opacity: 1;
}

}

.container-fluid.container1{
    background-color: rgb(0, 85, 141); 
    height: 23px;
    width: 100%;
}

.container2{
    height: 80px;
    width: 100%;
    background-image: linear-gradient( 111.4deg,  rgb(230, 230, 230) 1.5%, rgba(130, 130, 131, 0.664) 93.2% );  
}

.logo{
margin-top: 5px;
}

.anchor{
   padding: 30px;
    width: 50%;
}

.hom{
    padding: 20px;
    color: rgb(0, 0, 0);
    font-style: bold;
    font-size: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.hom:hover{
    color:rgb(38, 0, 255);
    padding: 20px;
    font-size: 120%;
    text-decoration: none
}
.regfrm{
    height: 20px;
    width: 50%;
    border-radius: 10px;
    border: 1px solid rgb(131, 131, 131);
    background-color: rgb(81, 131, 165); 
    margin-left: 500px;
    margin-top: -20px;
    text-align: center;
}
.ho{
    text-align: center;
    padding-left: 6px;
    color: rgb(255, 253, 253);
    font-style: bold;
    font-size: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

.ho:hover{
    color:blue;
    padding: 20px;
    font-size: 125%;
    text-decoration: none
}

.inp{
    margin-top: 28px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid black;
}
.sign{
  display: inline-block;
  margin-left: 250px;
  margin-top: 50px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;

}

.container-fluid.container7{
    background-color: rgb(0, 85, 141); 
    color: white;
    
    margin-top: 100px;
 }

.container6{
    margin-top: 100px;
}

.container25part2{
    background-color: rgb(32, 32, 81);
    height: 500px;
    clear: both;
}

@media (max-width: 575.98px) {
    .container25part2 {
       height: 1300px;
    }
}

.connectwithustext{
    color: white;
    font-weight: bold;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
   padding: 40px 0px;
}

.facebookicon1 i{
    color: grey;
    font-size: 30px;
}

.facebookicon1 i:hover{
    color: white;
    font-size: 25px;
    transition: 0.5s ease-in-out;
}

p.facebookicon1{
    margin-top: -40px;
}

.instagramicon1 i{
    color: grey;
    font-size: 25px;
}

.instagramicon1 i:hover{
    color: white;
    font-size: 20px;
    transition: 0.5s ease-in-out;
}

p.instagramicon1{
    margin-top: -45px;
    margin-left: 40px;
}

.twittericon1 i{
    color: grey;
    font-size: 25px;
}

.twittericon1 i:hover{
    color: white;
    font-size: 20px;
    transition: 0.5s ease-in-out;
}

p.twittericon1{
    margin-top: -43px;
    margin-left: 80px;
}

.linkedinicon1 i{
    color: grey;
    font-size: 25px;
}

.linkedinicon1 i:hover{
    color: white;
    font-size: 20px;
    transition: 0.5s ease-in-out;
}

p.linkedinicon1{
    margin-top: -43px;
    margin-left: 120px;
}

.headofficetext{
    color: white;
    font-weight: bold;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
   padding: 40px 0px;
}

.oyoibadanroadtext{
    color: white;
    margin-top: -40px;
}

.companytext{
    color: white;
    font-weight: bold;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
   padding: 40px 0px;
}

.linksundercompanytext{
    color: white;
    margin-top: -45px;
    padding: 5px 0px;
}

.linksundercompanytext a{
    color: white;
    margin-top: -40px;
}

.linksundercompanytext a:hover{
   text-decoration: none;
   color: grey;
   transition: 0.5s ease-in-out;
}

.linksunderourproductstext{
    color: white;
    margin-top: -45px;
    padding: 5px 0px;
}

.ourproductstext{
    color: white;
    font-weight: bold;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
   padding: 40px 0px;
}

.linksunderourproductstext a{
    color: white;
    margin-top: -45px;
    padding: 5px 0px;
}

.linksunderourproductstext a:hover{
    text-decoration: none;
    color: grey;
    transition: 0.5s ease-in-out;
}


.linksunderresourcestext{
    color: white;
    margin-top: -45px;
    padding: 5px 0px;
}

p.Variousoutletstext{
    color: white;
    font-weight: bold;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
   padding: 40px 0px;
}

.branchesundervariousoutletstext{
    color: white;
    margin-top: -45px;
    padding: 5px 0px;









}
